<a href="https://colab.research.google.com/github/ajitpadole/data-science-interviews/blob/master/Copy_of_python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def given_marks(marks):
  if marks>90:
    print("excellent")
  elif marks > 80 and marks <= 90:
    print("Good")
  elif marks > 70 and marks <=80:
    print("fair")
  elif marks > 60 and marks <=70:
    print("meet exception ")
  else:
    print("par")

In [ ]:
given_marks(85)

Good

In [ ]:
# pattern 

def pattern(n):
  nst = 1
  nsp = n - 1
  for r in range(1, n+1):

  # space
   for csp in range(1, nsp+1):
    print("  ",end="")
  
  # star 
   for cst in range(1, nst+1):
    print("* ",end="")

   nst += 1
   nsp -= 1
   print()

In [ ]:
pattern(8)

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *
* * * * * * * *

In [ ]:
# pattern 
def pattern_1(n):
  nst = 1
  nsp = n-1
  for r in range(1, n+1):
    #space
    for csp in range(1,nsp+1):
      print("  ",end="")
    
    #star
    for cst in range(1, nst+1):
      print("* ",end="")
      
    nst += 1
    nsp -= 1
    print()

In [ ]:
pattern_1(10)

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [ ]:
# pattern 
def pattern_2(n):
  nst = 1
  nsp = n-1
  for r in range(1, n+1):
    #space
    for csp in range(1,nsp+1):
      print(" ",end="")  # reduce one space
    
    #star
    for cst in range(1, nst+1):
      print("* ",end="")
      
    nst += 1
    nsp -= 1
    print()

In [ ]:
pattern_2(10)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [ ]:
# pattern 
def pattern_3(n):
  nst = 1
  nsp = n-1
  for r in range(1, n+1):
    #space
    for csp in range(1,nsp+1):
      print("",end="")  # no space
    
    #star
    for cst in range(1, nst+1):
      print("* ",end="")
      
    nst += 1
    nsp -= 1
    print()

In [ ]:
pattern_3(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
# pattern 
def pattern_4(n):
  nst = n
  nsp = 0
  for r in range(1, n+1):
    #space
    for csp in range(1, nsp+1):
      print("  ",end="")  # no space
    
    #star
    for cst in range(1, nst+1):
      print("* ",end="")

    nst -= 1
    nsp += 1
    print()

In [ ]:
pattern_4(8)

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

In [ ]:
# pattern 
def pattern_5(n):
  nst = n
  nsp = 0
  for r in range(1, n+1):
    #space
    for csp in range(1, nsp+1):
      print("  ",end="")  # no space
    
    #star
    for cst in range(1, nst+1):
      print("* ",end="")

    nst += 1
    print()

In [ ]:
pattern_5(5)

* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
# number 
def pattern_5(n):
  nst = 1
  chart = 1
  for r in range(1, n+1):
     #number
    for cst in range(1, nst+1):
      print(chart," ",end="")
      
    nst +=1
    print()

In [ ]:
pattern_5(8)

1
1  1
1  1  1
1  1  1  1
1  1  1  1  1
1  1  1  1  1  1
1  1  1  1  1  1  1
1  1  1  1  1  1  1  1

In [ ]:
# number 
def pattern_6(n):
  nst = 1
  chart = 1
  for r in range(1, n+1):
     #number
    for cst in range(1, nst+1):
      print(chart," ",end="")
      chart +=1
    nst +=1
    print()

In [ ]:
pattern_6(8)

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15
16  17  18  19  20  21
22  23  24  25  26  27  28
29  30  31  32  33  34  35  36

In [ ]:
# number 
def pattern_7(n):
  nst = 0
  chart = 1
  for r in range(1, n+1):
     #number
    for cst in range(1, nst+1):
      print(chart," ",end="")
      chart +=1
    nst +=1
    print()

In [ ]:
pattern_7(7)

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15
16  17  18  19  20  21

In [ ]:

# 1. focus on the first line
# 2. count no of stars and no of spaces
# 3. make it generic equation using table
# 4. right relation of rth line and (r+1)th line


def pattern_01(N):
    nst = 1
    nsp = N - 1

    for r in range(1, N + 1):
        # spaces
        for csp in range(1, nsp + 1):
            print("  ", end="")

        # stars
        for cst in range(1, nst + 1):
            print("* ", end="")

        nst += 1
        nsp -= 1
        print()

In [ ]:
pattern_01(10)

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [ ]:
def pattern_02(N):
    nst = N
    nsp = 0

    for r in range(1, N + 1):
        # spaces
        for csp in range(1, nsp + 1):
            print("  ", end="")

        # star
        for cst in range(1, nst + 1):
            print("* ", end="")

        nst -= 1
        nsp += 1
        print()

In [ ]:
def pattern_03(N):
    nst = 1
    nsp = 0

    for r in range(1, N + 1):
        # spaces
        for csp in range(1, nsp + 1):
            print("  ", end="")

        # star
        for cst in range(1, nst + 1):
            print("* ", end="")

        nst += 1
        print()

In [ ]:
def pattern_04(N):
    nst = N
    nsp = 0

    for r in range(1, N + 1):
        # spaces
        for csp in range(1, nsp + 1):
            print("  ", end="")

        # star
        for cst in range(1, nst + 1):
            print("* ", end="")

        nst -= 1
        print()

In [ ]:
def pattern_05(N):
    nst = 1
    count = 1
    for r in range(1, N + 1):
        # star
        for cst in range(1, nst + 1):
            print(count, " ", end="")
            count += 1

        nst += 1
        print()

In [ ]:

def pattern_06(N):
    nst = 1
    a = 0
    b = 1
    for r in range(1, N + 1):
        # star
        for cst in range(1, nst + 1):
            print(a, " ", end="")
            sum = a + b
            a = b
            b = sum

        nst += 1
        print()

In [ ]:

def pattern07_binomialSeries(N):
    nst = 1
    for n in range(0, N):
        # star
        val = 1
        for r in range(0, nst):
            print(val, " ", end="")
            val = (n - r) * val / (r + 1)

        nst += 1
        print()

In [ ]:

def pattern08_pyramid(N):
    nst = 1
    nsp = N - 1

    for r in range(1, N + 1):
        # spaces
        for csp in range(1, nsp + 1):
            print("  ", end="")

        # star
        for cst in range(1, nst + 1):
            print("* ", end="")

        nst += 2
        nsp -= 1
        print()

In [ ]:
def pattern09_inversePyramid(N):
    nst = 2 * N - 1
    nsp = 0

    for r in range(1, N + 1):
        # spaces
        for csp in range(1, nsp + 1):
            print("  ", end="")

        # star
        for cst in range(1, nst + 1):
            print("* ", end="")

        nst -= 2
        nsp += 1
        print()

In [ ]:

def pattern09_NumberPyramid(N):
    nst = 1
    nsp = N - 1

    for r in range(1, N + 1):
        # spaces
        for csp in range(1, nsp + 1):
            print("  ", end="")

        # star
        count = 1
        for cst in range(1, nst + 1):
            print(count, " ", end="")
            if cst <= nst / 2:
                count += 1
            else:
                count -= 1

        nst += 2
        nsp -= 1
        print()

In [ ]:

def pattern10_NumberPyramid_02(N):
    nst = 1
    nsp = N - 1

    for r in range(1, N + 1):
        # spaces
        for csp in range(1, nsp + 1):
            print("  ", end="")

        # star
        val = 1
        for cst in range(1, nst + 1):
            print(val, " ", end="")
            if cst <= nst / 2:
                val *= 2
            else:
                val /= 2

        nst += 2
        nsp -= 1
        print()

In [ ]:

def pattern11_diamond(N):
    nst = 1
    nsp = N / 2

    for r in range(1, N + 1):
        # spaces
        for csp in range(1, nsp + 1):
            print("  ", end="")

        # star
        for cst in range(1, nst + 1):
            print("* ", end="")

        if r <= N / 2:
            nst += 2
            nsp -= 1
        else:
            nsp += 1
            nst -= 2
        print()

In [ ]:
# largest number in 3 number
num1 = 12
num2 = 53
num3 = 56
# first Condition
if (num1 > num2) and (num1>num3):
  print(num1,"is grater then other three")
elif ( num2>num3) and (num2>num1):
  print(num2, "is grater then other three")
else:
  print(num3,"is gater then other three")

56 is gater then other three

In [ ]:
# prime or not
num = int(input("Enter the Number "))
if num == 1:
  print("is not prime number")
if num > 1:
  for i in range (2,num):
    if num % i == 0:
      print(num,"is not Prime")
      break
   
  else:
    print(num,"is prime")

Enter the Number 50
50 is not Prime

In [ ]:
#