In [1]:
# variyes ways of printing

In [3]:
First_name ="krushna"
Last_name ="padole"

In [5]:
print("my Firts name is {} and my Last name is {}".format(First_name,Last_name))

my Firts name is krushna and my Last name is padole

In [6]:
type(['ajit',2,3,4])

list

In [7]:
type([1,2,3,4,5])

list

In [8]:
my_str="ajit"

In [8]:
'''my_str.!#hear you press tab thay show how many function operate you then'''

'my_str.!#hear you press tab thay show how many function operate you then'

In [ ]:
my_str.!

In [9]:
# if statement even and odd
val=input("any number")
int(val)
print(type(val))

any number74
<class 'str'>

In [9]:
# if and else statement
val=input("enter any number:")
val_float=float(val)
if (val_float%2==0):
    print("the number is even")
else:
    print("the number is of id odd")
print(type(val_float))

enter any number:55.32
the number is of id odd
<class 'float'>

In [13]:
value=input("any you wont :")
val_float=float(val)
if (val_float%2==0):
    print("the number is even")
else:
    print("the number is of id odd")

any you wont :55
the number is of id odd

In [14]:
data={"ajit":"padole","ram":'kale'}

In [15]:
print(data)

{'ajit': 'padole', 'ram': 'kale'}

In [16]:
data["ajit"]

'padole'

In [17]:
data[0]="krushna"
print(data)

{'ajit': 'padole', 'ram': 'kale', 0: 'krushna'}

In [24]:
my_dict  =  {
   'foo': 42,
   'bar': 12.5
}
print(my_dict)

{'foo': 42, 'bar': 12.5}

In [25]:
my_dict['bar']  =  "Hello"
print(my_dict)

{'foo': 42, 'bar': 'Hello'}

In [26]:
myprod = {
"Product":"Mobile",
"Model": "XUT",
"Units": 120,
"Available": "Yes"
}

In [27]:
print("Dictionary =",myprod)

Dictionary = {'Product': 'Mobile', 'Model': 'XUT', 'Units': 120, 'Available': 'Yes'}

In [32]:
myprod["Rat"] = "A"

In [33]:
print(myprod)

{'Product': 'Mobile', 'Model': 'XUT', 'Units': 120, 'Available': 'Yes', 'Rating': 'A', 'Rat': 'A'}

In [34]:
myprod["sandel"]='cahpal'

In [35]:
print(myprod)

{'Product': 'Mobile', 'Model': 'XUT', 'Units': 120, 'Available': 'Yes', 'Rating': 'A', 'Rat': 'A', 'sandel': 'cahpal'}

In [36]:
myprod["sandel"]='shooes' # replace

In [37]:
print(myprod)

{'Product': 'Mobile', 'Model': 'XUT', 'Units': 120, 'Available': 'Yes', 'Rating': 'A', 'Rat': 'A', 'sandel': 'shooes'}

In [38]:
print(" updated_Dictionary = ",myprod)

 updated_Dictionary =  {'Product': 'Mobile', 'Model': 'XUT', 'Units': 120, 'Available': 'Yes', 'Rating': 'A', 'Rat': 'A', 'sandel': 'shooes'}

In [39]:
myprod.keys()

dict_keys(['Product', 'Model', 'Units', 'Available', 'Rating', 'Rat', 'sandel'])

In [40]:
myprod.values()

dict_values(['Mobile', 'XUT', 120, 'Yes', 'A', 'A', 'shooes'])

In [41]:
# reverse string

In [42]:
a= "ajit Padole"

In [44]:
a[::-1]

'elodaP tija'

In [45]:
def function(x):
  return x[::-1]

mytxt = function("I wonder how this text looks like backwards")

print(mytxt)

sdrawkcab ekil skool txet siht woh rednow I

In [46]:
# remive list duplicate

In [47]:
my_list=["a","b","c","D","D"]
my=[list[dict.my_list]]

AttributeError: type object 'dict' has no attribute 'my_list'

In [48]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

In [5]:
#remove empty list from the list

In [6]:
list1 = [[], [], [], 'Red', 'Green', [1,2], 'Blue', [], []]
print("Original list:",list1)
print("\nAfter deleting the empty lists from the said lists of lists")
list2 = [x for x in list1 if x]
print(list2)

Original list: [[], [], [], 'Red', 'Green', [1, 2], 'Blue', [], []]

After deleting the empty lists from the said lists of lists
['Red', 'Green', [1, 2], 'Blue']

In [7]:
res= list(filter(None, list1))
print(res)

['Red', 'Green', [1, 2], 'Blue']

In [9]:
a=[1,2,3,5,6,[],1,2,[]]
print(a)
b=[x for x in a if x]
print(b)

[1, 2, 3, 5, 6, [], 1, 2, []]
[1, 2, 3, 5, 6, 1, 2]

In [10]:
# Factorial 
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120

In [14]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)
n=input("input any value to calculate factorial")
print(factorial(n))

input any value to calculate factorial0

TypeError: unsupported operand type(s) for -: 'str' and 'int'