<a href="https://colab.research.google.com/github/ajitpadole/data-science-interviews/blob/master/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def given_marks(marks):
  if marks>90:
    print("excellent")
  elif marks > 80 and marks <= 90:
    print("Good")
  elif marks > 70 and marks <=80:
    print("fair")
  elif marks > 60 and marks <=70:
    print("meet exception ")
  else:
    print("par")

In [ ]:
given_marks(85)

Good

In [ ]:
# pattern 

def pattern(n):
  nst = 1
  nsp = n - 1
  for r in range(1, n+1):

  # space
   for csp in range(1, nsp+1):
    print("  ",end="")
  
  # star 
   for cst in range(1, nst+1):
    print("* ",end="")

   nst += 1
   nsp -= 1
   print()

In [ ]:
pattern(8)

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *
* * * * * * * *

In [ ]:
# pattern 
def pattern_1(n):
  nst = 1
  nsp = n-1
  for r in range(1, n+1):
    #space
    for csp in range(1,nsp+1):
      print("  ",end="")
    
    #star
    for cst in range(1, nst+1):
      print("* ",end="")
      
    nst += 1
    nsp -= 1
    print()

In [ ]:
pattern_1(10)

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [ ]:
# pattern 
def pattern_2(n):
  nst = 1
  nsp = n-1
  for r in range(1, n+1):
    #space
    for csp in range(1,nsp+1):
      print(" ",end="")  # reduce one space
    
    #star
    for cst in range(1, nst+1):
      print("* ",end="")
      
    nst += 1
    nsp -= 1
    print()

In [ ]:
pattern_2(10)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [ ]:
# pattern 
def pattern_3(n):
  nst = 1
  nsp = n-1
  for r in range(1, n+1):
    #space
    for csp in range(1,nsp+1):
      print("",end="")  # no space
    
    #star
    for cst in range(1, nst+1):
      print("* ",end="")
      
    nst += 1
    nsp -= 1
    print()

In [ ]:
pattern_3(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
# pattern 
def pattern_4(n):
  nst = n
  nsp = 0
  for r in range(1, n+1):
    #space
    for csp in range(1, nsp+1):
      print("  ",end="")  # no space
    
    #star
    for cst in range(1, nst+1):
      print("* ",end="")

    nst -= 1
    nsp += 1
    print()

In [ ]:
pattern_4(8)

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

In [ ]:
# pattern 
def pattern_5(n):
  nst = n
  nsp = 0
  for r in range(1, n+1):
    #space
    for csp in range(1, nsp+1):
      print("  ",end="")  # no space
    
    #star
    for cst in range(1, nst+1):
      print("* ",end="")

    nst += 1
    print()

In [ ]:
pattern_5(5)

* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
# number 
def pattern_5(n):
  nst = 1
  chart = 1
  for r in range(1, n+1):
     #number
    for cst in range(1, nst+1):
      print(chart," ",end="")
      
    nst +=1
    print()

In [ ]:
pattern_5(8)

1
1  1
1  1  1
1  1  1  1
1  1  1  1  1
1  1  1  1  1  1
1  1  1  1  1  1  1
1  1  1  1  1  1  1  1

In [ ]:
# number 
def pattern_6(n):
  nst = 1
  chart = 1
  for r in range(1, n+1):
     #number
    for cst in range(1, nst+1):
      print(chart," ",end="")
      chart +=1
    nst +=1
    print()

In [ ]:
pattern_6(8)

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15
16  17  18  19  20  21
22  23  24  25  26  27  28
29  30  31  32  33  34  35  36

In [ ]:
# number 
def pattern_7(n):
  nst = 0
  chart = 1
  for r in range(1, n+1):
     #number
    for cst in range(1, nst+1):
      print(chart," ",end="")
      chart +=1
    nst +=1
    print()

In [ ]:
pattern_7(7)

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15
16  17  18  19  20  21